<!doctype html>
<html lang="en">
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<body>
<div style="height: 200px; margin: auto; width: 50%; background-color: #ebebeb; padding-top: 10px;">
    <div ng-app="createRole" ng-controller="createRoleCtrl">
        <div style="width: 50%; margin: auto; text-align: center">
            <H3>Create a role</H3>
            <label>Enter the name of the role:</label><br><input style="width: 270px;" type="text" placeholder="nameRole" ng-model="nameRole" title="nameRoleInput"/><br>
            <label>Enter the description of the role:</label><br><input style="width: 270px;"  type="text" placeholder="descriptionRole" ng-model="descriptionRole" title="descRoleInput"/>
            <br><br>
            <span>
                <button type="button" style="width: 280px;" ng-click="sendNewRole()">Send</button>
            </span>
        </div>
        <div ng-controller="showRolesCtrl">
            <button type="button" style="width: 280px;" ng-click="showDataRole()">Show roles</button>
        </div>
        <div style="margin: auto; width: 50%;">
            <div ng-repeat="rl in empire">
                {{rl.role}}
                {{rl.description}}
            </div>
        </div>
    </div>
</div>
<!--
<div ng-controller="CtrlUser" class="input-group">
      <span class="input-group-btn">
        <button ng-click="Add_user()" class="btn btn-default" type="button">Ajouter User</button>
      </span>
    <input type="text" class="form-control" placeholder="LastName" ng-model="LastName">
    <input type="text" class="form-control" placeholder="FirstName"ng-model="FirstName">
</div>
-->
</body>
</html>
<script>
    var app = angular.module('createRole', []);
    app.controller("createRoleCtrl", ['$scope', '$rootScope', '$http', function ($scope, $rootScope, $http) {
        $scope.sendNewRole = function () {
            $http({
                method: 'POST',
                url: 'http://localhost:8080/api/role/createRole',
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                },
                data : $.param({ name: $scope.nameRole, description: $scope.descriptionRole})
            }).success(function () {
                $http({method: 'GET', url: 'http://localhost:8080/api/role/findAll'}).success(function (data) {
                    $rootScope.empire = data;
                    //$rootScope.$apply();
                });

            });
        }
    }]);
    app.controller("showRolesCtrl", ['$scope', '$http', function($scope, $http){
        $scope.showDataRole = function(){
            alert("Data");
        }
    }]);
</script>
